{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Responsive Multipurpose HTML5 Template" />
        <meta name="keywords" content="agency, bootstrap, business, corporate, creative, landing page, marketing, multipurpose, product, product launch, responsive, software, startup, startup landing page" />
        <meta name="author" content="ThemesBoss" />


        <!-- Site Title -->
        <title>Cooperativa</title>

        <!-- Site favicon -->
        <link rel="shortcut icon" href="{% static 'images/favicon.ico'%}">

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}" type="text/css">

        <!-- MFP Css -->
        <link rel="stylesheet" href="{%static 'css/magnific-popup.css'%}">

        <!-- Material Icon -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/materialdesignicons.min.css'%}" />

        <!-- Pe7 Icon -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/pe-icon-7.css'%}">

        <!-- Owl Slider -->
        <link rel="stylesheet" href="{% static 'css/owl.carousel.css'%}" />
        <link rel="stylesheet" href="{%static 'css/owl.theme.css'%}" />
        <link rel="stylesheet" href="{%static 'css/owl.transitions.css'%}" />

        <!-- Custom  Css -->
        <link rel="stylesheet" type="text/css" href="{%static 'css/style.css'%}" />

    </head>    
    <body>
          <!--Navbar Start-->
          <nav class="navbar navbar-expand-lg fixed-top custom-nav sticky">
            <div class="container">
                <!-- LOGO -->
                <a class="logo navbar-brand" href="{%url 'home'%}">
                   <!-- <img src="{% static 'images/logo.png'%}" alt="" class="img-fluid logo-light"> 
                    <img src="{%static 'images/logo-dark.png'%}" alt="" class="img-fluid logo-dark">-->
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="mdi mdi-menu"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav ml-auto navbar-center" id="mySidenav">
                        <li class="nav-item">
                            <a href="{%url 'home'%}" class="nav-link">Inicio</a>
                        </li>
                        <li class="nav-item active">
                            <a href="{%url 'aboutUs'%}" class="nav-link">Acerca de nosotros</a>
                        </li>
                     
                        <li class="nav-item">
                            <a href="{%url 'services'%}" class="nav-link">Servicios</a>
                        </li>
                        <li class="nav-item">
                            <a href="{%url 'contact'%}" class="nav-link">Contacto</a>
                        </li>
                        <li class="nav-item">
                            <a href="https://devetechnologies-coop-7a5232f4718c.herokuapp.com/admin/login/?next=/admin/" target="_blank" class="nav-link">Administracion</a>
                        </li>
                    </ul>
                    <div>
                        <ul class="text-right list-unstyled list-inline mb-0 social_menu">
                            <li class="list-inline-item"><a href=""><i class="mdi mdi-twitter"></i></a></li>
                            <li class="list-inline-item"><a href=""><i class="mdi mdi-instagram"></i></a></li>
                            <li class="list-inline-item"><a href=""><i class="mdi mdi-facebook"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Navbar End -->

        <!--Start Header-->
        <section class="header_section">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-white text-center">
                            <h2 class="font-weight-bold fonts-italic font-italic">Acerca de Nosotros</h2>
                            <div class="home_divider mt-3 mb-3 mx-auto"></div>
                            <div class="page_link text-uppercase"> 
                                <span class="text-white ml-1">COOP-UNIDOS PODEMOS constituye un motor significativo para el impulso de la mejoría de la calidad de vida de un segmento trascendente de nuestro mercado meta; en donde con el trabajo solidario cerramos la brecha de la exclusión social mitigando con la autogestión la pobreza y construyendo riqueza con la inclusión social y económica que genera la capacidad productiva e innovadora del asociado.</span> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Header-->
              <!-- Start About -->
              <section class="section">
                <div class="container">
                    <div class="row mt-3">
                        <div class="col-lg-4">
                            <div class="about_box text-center p-3 mt-3">
                                <div class="about_icon text-custom">
                                    <i class="mdi mdi-apple-keyboard-command"></i>
                                </div>
                                <div class="mt-3 about_detail">
                                    <h5 class="font-weight-bold">Planes de Ahorros</h5>
                                    <p class="text-muted mt-3">Brindamos asesoria para crearles un plan de ahorro garantizando un presente y un futuro mejor para usted y sus familiares.</p>
                                    <a href="#" class="text-dark text-uppercase font-weight-bold read_more">Read More <i class="mdi mdi-arrow-right ml-2"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="about_box text-center p-3 mt-3">
                                <div class="about_icon text-custom">
                                    <i class="mdi mdi-asterisk"></i>
                                </div>
                                <div class="mt-3 about_detail">
                                    <h5 class="font-weight-bold">Prestamos</h5>
                                    <p class="text-muted mt-3">Brindamos prestamos competitivos para nuestros socios .</p>
                                    <a href="#" class="text-dark text-uppercase font-weight-bold read_more">Read More <i class="mdi mdi-arrow-right ml-2"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="about_box text-center p-3 mt-3">
                                <div class="about_icon text-custom">
                                    <i class="mdi mdi-biohazard"></i>
                                </div>
                                <div class="mt-3 about_detail">
                                    <h5 class="font-weight-bold">Accesos</h5>
                                    <p class="text-muted mt-3">Brindamos acceso rapido y sencillos a nuestros planes de ahorros y prestamos a nuestros clientesfho.</p>
                                    <a href="#" class="text-dark text-uppercase font-weight-bold read_more">Read More <i class="mdi mdi-arrow-right ml-2"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>            
            </section>
        <!-- End About -->

        <!-- Start Services 
        <section>
            <div class="container-fluid">
                <div class="row position-relative">
                    <div class="col-lg-6 services_img_bg">
                        &nbsp;
                    </div>
                    end col 
                    <div class="col-lg-7 offset-lg-5 services_clip bg-gradient text-white">
                        <div class="services_bg_pad">
                            <div class="row justify-content-center">
                                <div class="col-lg-5">
                                    <div class="text-center services_boxes mt-3 rounded p-4">
                                        <div class="services_icon">
                                            <i class="pe-7s-tools"></i>
                                        </div>
                                        <div class="services_content mt-3">
                                            <h5 class="mb-0">Graphic Design</h5>
                                            <p class="mb-0 mt-2">The standard chunk of Lorem Ipsum used since the is reproduced below for those interested.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="text-center services_boxes mt-3 rounded p-4">
                                        <div class="services_icon">
                                            <i class="pe-7s-science"></i>
                                        </div>
                                        <div class="services_content mt-3">
                                            <h5 class="mb-0">Unlimited Color</h5>
                                            <p class="mb-0 mt-2">The standard chunk of Lorem Ipsum used since the is reproduced below for those interested.</p>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            <div class="row justify-content-center">
                                <div class="col-lg-5">
                                    <div class="text-center services_boxes mt-3 rounded p-4">
                                        <div class="services_icon">
                                            <i class="pe-7s-display1"></i>
                                        </div>
                                        <div class="services_content mt-3">
                                            <h5 class="mb-0">Media Marketing</h5>
                                            <p class="mb-0 mt-2">The standard chunk of Lorem Ipsum used since the is reproduced below for those interested.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="text-center services_boxes mt-3 rounded p-4">
                                        <div class="services_icon">
                                            <i class="pe-7s-helm"></i>
                                        </div>
                                        <div class="services_content mt-3">
                                            <h5 class="mb-0">Unlimited Wifi</h5>
                                            <p class="mb-0 mt-2">The standard chunk of Lorem Ipsum used since the is reproduced below for those interested.</p>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div> 
                </div>
            </div>
        </section>-->
        <!-- End Services -->

        <!-- Start Features 
        <section class="section bg-light">
            <div class="container">
                <div class="row vertical-content">
                    <div class="col-lg-5">
                        <div class="mt-3 features_desc">
                            <p class="text-custom mb-0 features_small_title">We Are A Creative Agency</p>
                            <h4 class="features_title">About Our Agency</h4>
                            <div>
                                <img src="images/divider.png" alt="" class="img-fluid">
                            </div>
                            <p class="text-muted features_subtitle mt-3">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat Ut enim ad minim veniam, quis nostrud laboris. </p>
                            <div class="progress-bars skill-custom mt-4">
                                <div class="clearfix">
                                    <div class="text-dark font-weight-bold float-left">Development</div>
                                    <div class="text-muted float-right">80%</div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="clearfix">
                                    <div class="text-dark font-weight-bold float-left">Photoshop</div>
                                    <div class="text-muted float-right">88%</div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 88%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="clearfix">
                                    <div class="text-dark font-weight-bold float-left">Web Desing</div>
                                    <div class="text-muted float-right">98%</div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 98%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="mt-4 pt-3">
                                <a href="#" class="btn btn-custom">Know More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="mt-3">
                            <img src="images/features.png" alt="" class="img-fluid mx-auto d-block">
                        </div>
                    </div>
                </div>
            </div>
        </section>-->
        <!-- End Features -->

        <!-- Start Team 
        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center section_title">
                            <p class="text-custom mb-1 small_title font-italic fonts-italic font-weight-bold text-uppercase">Our Expert</p>
                            <h3 class="font-weight-bold">Meet Our Team</h3>
                            <div class="">
                                <img src="images/divider.png" alt="" class="img-fluid mx-auto d-block">
                            </div>
                            <p class="text-muted sec_subtitle mx-auto mt-2">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-lg-12">
                        <div id="owl-team" class="owl-carousel">
                            <div class="team_box mt-3">
                                <div class="team-img">
                                    <img src="images/team/team-1.jpg" alt="" class="img-fluid mx-auto rounded d-block">
                                </div>
                                <div class="team_desc text-center mt-4">
                                    <h6>Scott Ross</h6>
                                    <p class="text-muted">CEO/Founder</p>
                                </div>
                                <div class="mt-3 text-center">
                                    <ul class="list-inline team_social mb-0">
                                        <li class="list-inline-item"><a href="#"><i class="mdi mdi-facebook"></i></a></li>
                                        <li class="list-inline-item"><a href="#"><i class="mdi mdi-google"></i></a></li>
                                        <li class="list-inline-item"><a href="#"><i class="mdi mdi-twitter"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="team_box mt-3">
                                <div class="team-img">
                                    <img src="images/team/team-2.jpg" alt="" class="img-fluid mx-auto rounded d-block">
                                </div>
                                <div class="team_desc text-center mt-4">
                                    <h6>Edith Wheeler</h6>
                                    <p class="text-muted">CTO/Co-Founder</p>
                                </div>
                                <div class="mt-3 text-center">
                                    <ul class="list-inline team_social mb-0">
                                        <li class="list-inline-item"><a href="#"><i class="mdi mdi-facebook"></i></a></li>
                                        <li class="list-inline-item"><a href="#"><i class="mdi mdi-google"></i></a></li>
                                        <li class="list-inline-item"><a href="#"><i class="mdi mdi-twitter"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="team_box mt-3">
                                <div class="team-img">
                                    <img src="images/team/team-3.jpg" alt="" class="img-fluid mx-auto rounded d-block">
                                </div>
                                <div class="team_desc text-center mt-4">
                                    <h6>Pauline Roach</h6>
                                    <p class="text-muted">Web Designer</p>
                                </div>
                                <div class="mt-3 text-center">
                                    <ul class="list-inline team_social mb-0">
                                        <li class="list-inline-item"><a href="#"><i class="mdi mdi-facebook"></i></a></li>
                                        <li class="list-inline-item"><a href="#"><i class="mdi mdi-google"></i></a></li>
                                        <li class="list-inline-item"><a href="#"><i class="mdi mdi-twitter"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="team_box mt-3">
                                <div class="team-img">
                                    <img src="images/team/team-4.jpg" alt="" class="img-fluid mx-auto rounded d-block">
                                </div>
                                <div class="team_desc text-center mt-4">
                                    <h6>Donald Laughlin</h6>
                                    <p class="text-muted">Web Developer</p>
                                </div>
                                <div class="mt-3 text-center">
                                    <ul class="list-inline team_social mb-0">
                                        <li class="list-inline-item"><a href="#"><i class="mdi mdi-facebook"></i></a></li>
                                        <li class="list-inline-item"><a href="#"><i class="mdi mdi-google"></i></a></li>
                                        <li class="list-inline-item"><a href="#"><i class="mdi mdi-twitter"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="team_box mt-3">
                                <div class="team-img">
                                    <img src="images/team/team-1.jpg" alt="" class="img-fluid mx-auto rounded d-block">
                                </div>
                                <div class="team_desc text-center mt-4">
                                    <h6>Scott Ross</h6>
                                    <p class="text-muted">CEO/Founder</p>
                                </div>
                                <div class="mt-3 text-center">
                                    <ul class="list-inline team_social mb-0">
                                        <li class="list-inline-item"><a href="#"><i class="mdi mdi-facebook"></i></a></li>
                                        <li class="list-inline-item"><a href="#"><i class="mdi mdi-google"></i></a></li>
                                        <li class="list-inline-item"><a href="#"><i class="mdi mdi-twitter"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="team_box mt-3">
                                <div class="team-img">
                                    <img src="images/team/team-2.jpg" alt="" class="img-fluid mx-auto rounded d-block">
                                </div>
                                <div class="team_desc text-center mt-4">
                                    <h6>Edith Wheeler</h6>
                                    <p class="text-muted">CTO/Co-Founder</p>
                                </div>
                                <div class="mt-3 text-center">
                                    <ul class="list-inline team_social mb-0">
                                        <li class="list-inline-item"><a href="#"><i class="mdi mdi-facebook"></i></a></li>
                                        <li class="list-inline-item"><a href="#"><i class="mdi mdi-google"></i></a></li>
                                        <li class="list-inline-item"><a href="#"><i class="mdi mdi-twitter"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="team_box mt-3">
                                <div class="team-img">
                                    <img src="images/team/team-3.jpg" alt="" class="img-fluid mx-auto rounded d-block">
                                </div>
                                <div class="team_desc text-center mt-4">
                                    <h6>Pauline Roach</h6>
                                    <p class="text-muted">Web Designer</p>
                                </div>
                                <div class="mt-3 text-center">
                                    <ul class="list-inline team_social mb-0">
                                        <li class="list-inline-item"><a href="#"><i class="mdi mdi-facebook"></i></a></li>
                                        <li class="list-inline-item"><a href="#"><i class="mdi mdi-google"></i></a></li>
                                        <li class="list-inline-item"><a href="#"><i class="mdi mdi-twitter"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="team_box mt-3">
                                <div class="team-img">
                                    <img src="images/team/team-4.jpg" alt="" class="img-fluid mx-auto rounded d-block">
                                </div>
                                <div class="team_desc text-center mt-4">
                                    <h6>Donald Laughlin</h6>
                                    <p class="text-muted">Web Developer</p>
                                </div>
                                <div class="mt-3 text-center">
                                    <ul class="list-inline team_social mb-0">
                                        <li class="list-inline-item"><a href="#"><i class="mdi mdi-facebook"></i></a></li>
                                        <li class="list-inline-item"><a href="#"><i class="mdi mdi-google"></i></a></li>
                                        <li class="list-inline-item"><a href="#"><i class="mdi mdi-twitter"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>-->
        <!-- End Team -->

        <!-- Start Cta 
        <section class="section bg-gradient">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <h2 class="font-weight-normal text-white">Become a part of Craton bussiness community today</h2>
                            <p class="mx-auto text-white cta-desc mt-4 pt-2">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                            <div class="mt-4 pt-3">
                                <a href="#" class="btn btn-outline-white">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>-->
        <!-- End Cta -->

        <!-- Start Footer -->
        <br>
        <footer class="pt-5 footer_detail">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <h6 class="mt-3 text-white font-weight-normal">Contactanos</h6>
                        <div class="footer_title_border"></div>
                        <div class="mt-4">
                            <p>Nuestros Datos</p>
                            <p><i class="pe-7s-id"></i> RNC: 4-30-38208-6</p>
                            <p><i class="pe-7s-call mr-2"></i> 809-748-5652</p>
                            <p><i class="pe-7s-mail-open mr-2"></i> unidospodemos@gmail.com</p>
                            <p><i class="pe-7s-map-marker mr-2"></i> Calle Duarte #2 KM 18 Villa Mella Republica Dominicana..</p>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <h6 class="mt-3 text-white font-weight-normal">Paginas</h6>
                        <div class="footer_title_border"></div>
                        <ul class="list-unstyled footer_menu_list mb-0 mt-4">
                            <li><a href="#">Inicio</a></li>
                            <li><a href="#">Acerca de nosotros</a></li>
                            <li><a href="#">Servicios</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Administracion</a></li>
                        </ul>
                    </div>
                   <!-- <div class="col-lg-2">
                        <h6 class="mt-3 text-white font-weight-normal">Help Center</h6>
                        <div class="footer_title_border"></div>
                        <ul class="list-unstyled footer_menu_list mb-0 mt-4">
                            <li><a href="#">Accounting</a></li>
                            <li><a href="#">Billing</a></li>
                            <li><a href="#">General Question</a></li>
                        </ul>
                    </div>-->
                    <div class="col-lg-2">
                        <h6 class="mt-3 text-white font-weight-normal">Siguenos</h6>
                        <div class="footer_title_border"></div>
                        <ul class="list-unstyled footer_menu_list mb-0 mt-4">
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Instagram</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Linkdin</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2">
                        <h6 class="mt-3 text-white font-weight-normal">Ubicación</h6>
                        <div class="footer_title_border"></div>
                        <ul class="list-unstyled footer_menu_list mb-0 mt-4">
                            <li><a href="#">Villa Mella Republica Dominicana</a></li>
                           <!-- <li><a href="#">London</a></li>
                            <li><a href="#">New York</a></li>
                            <li><a href="#">San Francisco</a></li>
                            <li><a href="#">Ontario</a></li>-->
                        </ul>
                    </div>
                </div>
                <div class="footer_divider mb-0"></div>
                <div class="row pt-3 pb-3">
                    <div class="col-lg-12">
                        <div class="clearfix">
                            <div class="float-left float_none">
                                <p class="copy-rights mb-0">&copy; 2024 Cooperativa Unidos Podemos<i class="text-custom"></i></p>
                            </div>
                            <div class="float-right float_none">
                                <ul class="list-inline fot_social mb-0">
                                    <li class="list-inline-item"><a href="" class="social-icon text-muted"><i class="mdi mdi-facebook"></i></a></li>
                                    <li class="list-inline-item"><a href="" class="social-icon text-muted"><i class="mdi mdi-twitter"></i></a></li>
                                    <li class="list-inline-item"><a href="" class="social-icon text-muted"><i class="mdi mdi-linkedin"></i></a></li>
                                    <li class="list-inline-item"><a href="" class="social-icon text-muted"><i class="mdi mdi-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </footer>
        <!-- End Footer -->

        <!-- Back To Top -->    
        <a href="#" class="back_top"> <i class="pe-7s-angle-up"> </i> </a>

        <!-- Javascript -->
        <script src="js/jquery.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.easing.min.js"></script>
        <script src="js/scrollspy.min.js"></script>

        <!-- Owl Js -->
        <script src="js/owl.carousel.min.js"></script>

        <!--Filter JS-->
        <script src="js/isotope.js"></script>

        <!-- MFP JS -->
        <script src="js/jquery.magnific-popup.min.js"></script>

        <!-- Custom Js   -->
        <script src="js/custom.js"></script>  

    </body>
</html>