<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Responsive Multipurpose HTML5 Template" />
        <meta name="keywords" content="agency, bootstrap, business, corporate, creative, landing page, marketing, multipurpose, product, product launch, responsive, software, startup, startup landing page" />
        <meta name="author" content="ThemesBoss" />

        <!-- Site Title -->
        <title>Craton - Responsive Multipurpose HTML5 Template</title>

        <!-- Site favicon -->
        <link rel="shortcut icon" href="images/favicon.ico">

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

        <!-- MFP Css -->
        <link rel="stylesheet" href="css/magnific-popup.css">

        <!-- Material Icon -->
        <link rel="stylesheet" type="text/css" href="css/materialdesignicons.min.css" />

        <!-- Pe7 Icon -->
        <link rel="stylesheet" type="text/css" href="css/pe-icon-7.css">

        <!-- Owl Slider -->
        <link rel="stylesheet" href="css/owl.carousel.css" />
        <link rel="stylesheet" href="css/owl.theme.css" />
        <link rel="stylesheet" href="css/owl.transitions.css" />

        <!-- Custom  Css -->
        <link rel="stylesheet" type="text/css" href="css/style.css" />

    </head>    
    <body>

        <!--Navbar Start-->
        <nav class="navbar navbar-expand-lg fixed-top custom-nav sticky">
            <div class="container">
                <!-- LOGO -->
                <a class="logo navbar-brand" href="index.html">
                    <img src="images/logo.png" alt="" class="img-fluid logo-light"> 
                    <img src="images/logo-dark.png" alt="" class="img-fluid logo-dark">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="mdi mdi-menu"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav ml-auto navbar-center" id="mySidenav">
                        <li class="nav-item">
                            <a href="index_1.html" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="about.html" class="nav-link">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a href="team.html" class="nav-link">Team</a>
                        </li>
                        <li class="nav-item">
                            <a href="services.html" class="nav-link">Services</a>
                        </li>
                        <li class="nav-item">
                            <a href="project.html" class="nav-link">Projects</a>
                        </li>
                        <li class="nav-item active">
                            <a href="blog.html" class="nav-link">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a href="contact.html" class="nav-link">Contact</a>
                        </li>
                    </ul>
                    <div>
                        <ul class="text-right list-unstyled list-inline mb-0 social_menu">
                            <li class="list-inline-item"><a href=""><i class="mdi mdi-twitter"></i></a></li>
                            <li class="list-inline-item"><a href=""><i class="mdi mdi-instagram"></i></a></li>
                            <li class="list-inline-item"><a href=""><i class="mdi mdi-facebook"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Navbar End -->

        <!--Start Header-->
        <section class="header_section">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-white text-center">
                            <h2 class="font-weight-bold fonts-italic font-italic">Single Post</h2>
                            <div class="home_divider mt-3 mb-3 mx-auto"></div>
                            <div class="page_link text-uppercase"> 
                                <a href="index.html" class="d-inline-block mr-1">Home</a> / <span class="text-white ml-1">Blog</span> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Header-->

        <!-- Start Blog -->
        <section class="section bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="blog_box rounded mt-3">
                                    <div class="blog_img">
                                        <img src="images/blog/blog-1.jpg" alt="" class="img-fluid mx-auto d-block rounded">
                                        <h6 class="mb-0 text-center"><span class="blog_detail_badge text-uppercase">Business</span></h6>
                                    </div>
                                    <div class="blog_detail rounded m-2 p-4 bg-white">
                                        <h4 class="font-weight-bold">Top WordPress Themes and Plugins for Travel, ...</h4>
                                        <p class="mt-3 text-muted">Vivamus. Commodo varius tellus nisl tellus pulvinar netus fames a, neque suspendisse tincidunt auctor penatibus taciti lorem mus penatibus quisque, fusce curae;, rutrum. Sit.</p>
                                        <p class="mt-3 text-muted">Molestie cras tempus. Accumsan maecenas enim pretium malesuada aenean tristique malesuada leo tristique sapien vitae molestie, at amet elementum facilisis amet integer. Lobortis quam venenatis ad condimentum felis phasellus eleifend erat vehicula est pede arcu facilisi ultrices ut. </p>
                                        <p class="blockquote">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.</p>
                                        <p class="mt-3 text-muted">Non eros. Laoreet netus, sodales phasellus, enim consectetuer morbi accumsan egestas Pede montes molestie sollicitudin augue nec. Sapien, dui eget sociosqu viverra. Rutrum cras parturient, tellus, diam. Donec potenti ante ultrices lacus </p>
                                        <div class="blog_detail_devider"></div>
                                        <div class="clearfix mt-3">
                                            <p class="text-muted float-left mb-0">By <a href="#" class="text-custom font-weight-bold">John Doe</a></p>
                                            <span class="text-muted float-right">8 November</span>
                                        </div>
                                        <div class="blog_detail_devider mt-3"></div>
                                        <div class="blog_tag mt-3">
                                            <a href="#">Dragon</a>
                                            <a href="#">agency</a>
                                            <a href="#">corporate</a>
                                            <a href="#">e-commerce</a>
                                            <a href="#">business</a>
                                            <a href="#">responsive</a>
                                        </div>

                                        <div class="comment_blog mt-5">
                                            <div>
                                                <h4>Comments</h4>
                                                <img src="images/divider.png" alt="" class="d-block mt-2 mb-3">
                                            </div>

                                            <div class="comment_read mt-5">
                                                <div class="comment_img">
                                                    <img src="images/comment/1.jpg" alt="" class="img-fluid rounded-circle">
                                                </div>
                                                <div class="comment_data">
                                                    <h6><a href="#" class="text-dark d-block">David Little</a> <span class="text-muted font-weight-normal">Aug 15, 2018</span></h6>
                                                    <p class="text-muted mb-0">Faucibus nunc. Justo et phasellus sociosqu. Rutrum senectus ultrices facilisis egestas rutrum litora, luctus ac tincidunt.</p>

                                                    <div class="comment_reply">
                                                        <a href="#" class="text-custom">
                                                            <i class="mdi mdi-reply" aria-hidden="true"></i>
                                                            Reply
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="comment_read">
                                                <div class="comment_img">
                                                    <img src="images/comment/2.jpg" alt="" class="img-fluid rounded-circle">
                                                </div>
                                                <div class="comment_data">
                                                    <h6><a href="#" class="text-dark d-block">Sylvia Mercado</a>  <span class="text-muted font-weight-normal">Aug 15, 2018</span></h6>
                                                    <p class="text-muted mb-0">Potenti rutrum accumsan eleifend cubilia dis est dolor curabitur tempor pharetra laoreet, placerat facilisi.</p>

                                                    <div class="comment_reply">
                                                        <a href="#" class="text-custom">
                                                            <i class="mdi mdi-reply" aria-hidden="true"></i>
                                                            Reply
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="comment_read">
                                                <div class="comment_img">
                                                    <img src="images/comment/3.jpg" alt="" class="img-fluid rounded-circle">
                                                </div>
                                                <div class="comment_data">
                                                    <h6><a href="#" class="text-dark d-block">Kristina Collman</a>  <span class="text-muted font-weight-normal">Aug 15, 2018</span></h6>
                                                    <p class="text-muted mb-0">Tempus ut nonummy volutpat maecenas nonummy augue pharetra. Class nullam Orci. Porttitor egestas habitant pretium tristique.</p>

                                                    <div class="comment_reply">
                                                        <a href="#" class="text-custom">
                                                            <i class="mdi mdi-reply" aria-hidden="true"></i>
                                                            Reply
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="comments-form mt-5">
                                            <div>
                                                <h4>Leave A Comment</h4>
                                                <img src="images/divider.png" alt="" class="d-block mt-2 mb-3">
                                            </div>

                                            <div class="comment-form-input mt-4">
                                                <form>
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <div class="form-group mt-3">
                                                                <input name="name" id="name" type="text" class="form-control" placeholder="Your name..." required="">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="form-group mt-3">
                                                                <input name="email" id="email" type="email" class="form-control" placeholder="Your email..."  required="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="form-group mt-3">
                                                                <textarea name="comments" id="comments" rows="4" class="form-control" placeholder="Your message..." required=""></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-12 text-center">
                                                            <input type="submit" class="btn btn-custom" value="Send Comment">
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>                        
                            </div>                          
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="mt-3 blog_sidebar rounded">
                            <div class="bg-white m-2 p-3">
                                <!-- Search widget-->
                                <div class="widget side_widget_search">
                                    <div class="sidebar_widget_title font-weight-bold text-uppercase">Search</div>
                                    <img src="images/divider.png" alt="" class="d-block mt-2 mb-4">
                                    <form>
                                        <input class="form-control" type="search" placeholder="Search...">
                                        <button class="search_icon" type="submit">
                                            <span class="mdi mdi-magnify"></span>
                                        </button>
                                    </form>
                                </div>

                                <!-- Categories -->
                                <div class="widget mt-5">
                                    <div class="sidebar_widget_title font-weight-bold text-uppercase">Categories</div>
                                    <img src="images/divider.png" alt="" class="d-block mt-2 mb-3">
                                    <ul class="list-unstyled widget_list">
                                        <li><a href="#"><i class="mdi mdi-chevron-double-right"></i> Journey</a></li>
                                        <li><a href="#"><i class="mdi mdi-chevron-double-right"></i> Photography</a></li>
                                        <li><a href="#"><i class="mdi mdi-chevron-double-right"></i> Lifestyle</a></li>
                                        <li><a href="#"><i class="mdi mdi-chevron-double-right"></i> Food & Drinks</a></li>
                                    </ul>
                                </div>

                                <!-- Recent Post -->
                                <div class="widget mt-5 widget_recent_entries_custom">
                                    <div class="sidebar_widget_title font-weight-bold text-uppercase">Recent Post</div>
                                    <img src="images/divider.png" alt="" class="d-block mt-2 mb-4">
                                    <ul class="list-unstyled">
                                        <li class="clearfix">
                                            <div class="re_post_img">
                                                <a href="#">
                                                    <img src="images/blog/blog-1.jpg" alt="" class="img-fluid rounded">
                                                </a>
                                            </div>
                                            <div class="re_post_desc">
                                                <a href="#" class="font-weight-bold">Top Things To San Francisco</a> 
                                                <span class="post-date fonts-italic">Aug 10, 2018</span>
                                            </div>
                                        </li>
                                        <li class="clearfix">
                                            <div class="re_post_img">
                                                <a href="#">
                                                    <img src="images/blog/blog-2.jpg" alt="" class="img-fluid rounded">
                                                </a>
                                            </div>
                                            <div class="re_post_desc">
                                                <a href="#" class="font-weight-bold">Venenatis vol utpat ele ifend</a> 
                                                <span class="post-date fonts-italic">Aug 18, 2018</span>
                                            </div>
                                        </li>
                                        <li class="clearfix">
                                            <div class="re_post_img">
                                                <a href="#">
                                                    <img src="images/blog/blog-3.jpg" alt="" class="img-fluid rounded">
                                                </a>
                                            </div>
                                            <div class="re_post_desc">
                                                <a href="#" class="font-weight-bold">Mattis felis nonummy cras.</a> 
                                                <span class="post-date fonts-italic">Aug 22, 2018</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                                <!-- Archives -->
                                <div class="widget mt-5">
                                    <div class="sidebar_widget_title font-weight-bold text-uppercase">Archives</div>
                                    <img src="images/divider.png" alt="" class="d-block mt-2 mb-3">
                                    <ul class="list-unstyled widget_list">
                                        <li><a href="#"><i class="mdi mdi-chevron-double-right"></i> January 2018</a></li>
                                        <li><a href="#"><i class="mdi mdi-chevron-double-right"></i> February 2018</a></li>
                                        <li><a href="#"><i class="mdi mdi-chevron-double-right"></i> March 2018</a></li>
                                        <li><a href="#"><i class="mdi mdi-chevron-double-right"></i> April 2018</a></li>
                                    </ul>
                                </div>

                                <!-- Tags -->
                                <div class="widget mt-5">
                                    <div class="sidebar_widget_title font-weight-bold text-uppercase">Tags</div>
                                    <img src="images/divider.png" alt="" class="d-block mt-2 mb-4">
                                    <div class="blog_tag">
                                        <a href="#">Dragon</a>
                                        <a href="#">agency</a>
                                        <a href="#">corporate</a>
                                        <a href="#">e-commerce</a>
                                        <a href="#">business</a>
                                        <a href="#">responsive</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Blog -->

        <!-- Start Footer -->
        <footer class="pt-5 footer_detail">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <h6 class="mt-3 text-white font-weight-normal">Craton</h6>
                        <div class="footer_title_border"></div>
                        <div class="mt-4">
                            <p>Their separate existence is a myth. For science, music, sport, etc, their pronunciation.</p>
                            <p><i class="pe-7s-call mr-2"></i> +985 123 7856</p>
                            <p><i class="pe-7s-mail-open mr-2"></i> exmaple@gmail.com</p>
                            <p><i class="pe-7s-map-marker mr-2"></i> 202, Grasselli Street , Conway.</p>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <h6 class="mt-3 text-white font-weight-normal">Our Pages</h6>
                        <div class="footer_title_border"></div>
                        <ul class="list-unstyled footer_menu_list mb-0 mt-4">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Client</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2">
                        <h6 class="mt-3 text-white font-weight-normal">Help Center</h6>
                        <div class="footer_title_border"></div>
                        <ul class="list-unstyled footer_menu_list mb-0 mt-4">
                            <li><a href="#">Accounting</a></li>
                            <li><a href="#">Billing</a></li>
                            <li><a href="#">General Question</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2">
                        <h6 class="mt-3 text-white font-weight-normal">Follow Us</h6>
                        <div class="footer_title_border"></div>
                        <ul class="list-unstyled footer_menu_list mb-0 mt-4">
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Instagram</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Linkdin</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2">
                        <h6 class="mt-3 text-white font-weight-normal">Locations</h6>
                        <div class="footer_title_border"></div>
                        <ul class="list-unstyled footer_menu_list mb-0 mt-4">
                            <li><a href="#">Melbourne</a></li>
                            <li><a href="#">London</a></li>
                            <li><a href="#">New York</a></li>
                            <li><a href="#">San Francisco</a></li>
                            <li><a href="#">Ontario</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer_divider mb-0"></div>
                <div class="row pt-3 pb-3">
                    <div class="col-lg-12">
                        <div class="clearfix">
                            <div class="float-left float_none">
                                <p class="copy-rights mb-0">&copy; 2018 Craton - Crafted with <i class="mdi mdi-heart text-custom"></i> by ThemesBoss.</p>
                            </div>
                            <div class="float-right float_none">
                                <ul class="list-inline fot_social mb-0">
                                    <li class="list-inline-item"><a href="" class="social-icon text-muted"><i class="mdi mdi-facebook"></i></a></li>
                                    <li class="list-inline-item"><a href="" class="social-icon text-muted"><i class="mdi mdi-twitter"></i></a></li>
                                    <li class="list-inline-item"><a href="" class="social-icon text-muted"><i class="mdi mdi-linkedin"></i></a></li>
                                    <li class="list-inline-item"><a href="" class="social-icon text-muted"><i class="mdi mdi-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </footer>
        <!-- End Footer -->

        <!-- Back To Top -->    
        <a href="#" class="back_top"> <i class="pe-7s-angle-up"> </i> </a>

        <!-- Javascript -->
        <script src="js/jquery.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.easing.min.js"></script>
        <script src="js/scrollspy.min.js"></script>

        <!-- Owl Js -->
        <script src="js/owl.carousel.min.js"></script>

        <!--Filter JS-->
        <script src="js/isotope.js"></script>

        <!-- MFP JS -->
        <script src="js/jquery.magnific-popup.min.js"></script>

        <!-- Custom Js   -->
        <script src="js/custom.js"></script>  

    </body>
</html>