{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Responsive Multipurpose HTML5 Template" />
        <meta name="keywords" content="agency, bootstrap, business, corporate, creative, landing page, marketing, multipurpose, product, product launch, responsive, software, startup, startup landing page" />
        <meta name="author" content="ThemesBoss" />

          <!-- Site Title -->
       <!-- Site favicon -->
       <link rel="shortcut icon" href="{% static 'images/favicon.ico'%}">

       <!-- Bootstrap core CSS -->
       <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}" type="text/css">

       <!-- MFP Css -->
       <link rel="stylesheet" href="{%static 'css/magnific-popup.css'%}">

       <!-- Material Icon -->
       <link rel="stylesheet" type="text/css" href="{% static 'css/materialdesignicons.min.css'%}" />

       <!-- Pe7 Icon -->
       <link rel="stylesheet" type="text/css" href="{% static 'css/pe-icon-7.css'%}">

       <!-- Owl Slider -->
       <link rel="stylesheet" href="{% static 'css/owl.carousel.css'%}" />
       <link rel="stylesheet" href="{%static 'css/owl.theme.css'%}" />
       <link rel="stylesheet" href="{%static 'css/owl.transitions.css'%}" />

       <!-- Custom  Css -->
       <link rel="stylesheet" type="text/css" href="{%static 'css/style.css'%}" />

    </head>    
    <body>

        <!--Navbar Start-->
        <nav class="navbar navbar-expand-lg fixed-top custom-nav sticky">
            <div class="container">
                <!-- LOGO -->
                <a class="logo navbar-brand" href="index.html">
                   <!-- <img src="images/logo.png" alt="" class="img-fluid logo-light"> 
                    <img src="images/logo-dark.png" alt="" class="img-fluid logo-dark">-->
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="mdi mdi-menu"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav ml-auto navbar-center" id="mySidenav">
                        <li class="nav-item">
                            <a href="{%url 'home'%}" class="nav-link">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a href="{%url 'aboutUs'%}" class="nav-link">Acerca de nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a href="{%url 'services'%}" class="nav-link">Servicios</a>
                        </li>
                        <li class="nav-item active">
                            <a href="{%url 'contact'%}" class="nav-link">Contacto</a>
                        </li>
                        <li class="nav-item">
                            <a href="https://devetechnologies-coop-1716d7b720c8.herokuapp.com/admin/login/?next=/admin/" target="_blank" class="nav-link">Administracion</a>
                        </li>
                    </ul>
                    <div>
                        <ul class="text-right list-unstyled list-inline mb-0 social_menu">
                            <li class="list-inline-item"><a href=""><i class="mdi mdi-twitter"></i></a></li>
                            <li class="list-inline-item"><a href=""><i class="mdi mdi-instagram"></i></a></li>
                            <li class="list-inline-item"><a href=""><i class="mdi mdi-facebook"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Navbar End -->

        <!--Start Home-->
        <section class="header_section">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-white text-center">
                            <h2 class="font-weight-bold fonts-italic font-italic">Contactos</h2>
                            <div class="home_divider mt-3 mb-3 mx-auto"></div>
                            <div class="page_link text-uppercase"> 
                                <a href="{%url 'home'%}" class="d-inline-block mr-1">Inicio</a> / <span class="text-white ml-1">Contacto</span> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Home-->

        <!-- Start Contact -->
        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="contact_icon_box mt-3 rounded">
                            <div class="text-center p-3 m-2 bg-light">
                                <div class="contact-icon text-custom">
                                    <i class="pe-7s-phone"></i>
                                </div>
                                <div class="contact-detail mt-3">
                                    <h6>Telefono</h6>
                                    <p class="text-muted mb-0 mt-3">809-748-5652</p>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="contact_icon_box mt-3 rounded">
                            <div class="text-center p-3 m-2 bg-light">
                                <div class="contact-icon text-custom">
                                    <i class="pe-7s-mail"></i>
                                </div>
                                <div class="contact-detail mt-3">
                                    <h6>Correo</h6>
                                    <p class="text-muted mb-0 mt-3">coopetativaunidospodemos@gmail.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="contact_icon_box mt-3 rounded">
                            <div class="text-center p-3 m-2 bg-light">
                                <div class="contact-icon text-custom">
                                    <i class="pe-7s-map-marker"></i>
                                </div>
                                <div class="contact-detail mt-3">
                                    <h6>Nuestra Oficina</h6>
                                    <p class="text-muted">Calle Duarte #2 KM 18 Villa Mella,<br> Republica Dominicana</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--
                <div class="row mt-3 vertical-content">
                    <div class="col-lg-6">
                        <div class="mt-3">
                            <img src="{%static 'images/contact.png'%}" alt="" class="img-fluid mx-auto d-block">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="contact_form mt-3">
                            <form>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group mt-3">
                                            <input name="name" id="name" type="text" class="form-control" placeholder="Your name..." required="">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group mt-3">
                                            <input name="email" id="email" type="email" class="form-control" placeholder="Your email..."  required="">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group mt-3">
                                            <input type="text" class="form-control" id="subject" placeholder="Your Subject.."  required=""/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group mt-3">
                                            <textarea name="comments" id="comments" rows="4" class="form-control" placeholder="Your message..." required=""></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 text-right">
                                        <input type="submit" class="btn btn-custom" value="Send Message">
                                    </div>
                                </div>
                            </form>
                        </div> 
                    </div>
                </div>
            </div>-->
        </section>
        <!-- End Contact -->

        <!-- Start Funfacts 
        <section class="section bg-gradient">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="logo_img">
                            <img src="images/clients/1.png" alt="logo-img" class="mx-auto img-fluid d-block">
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="logo_img">
                            <img src="images/clients/2.png" alt="logo-img" class="mx-auto img-fluid d-block">
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="logo_img">
                            <img src="images/clients/3.png" alt="logo-img" class="mx-auto img-fluid d-block">
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="logo_img">
                            <img src="images/clients/4.png" alt="logo-img" class="mx-auto img-fluid d-block">
                        </div>
                    </div>
                </div>
            </div>
        </section>-->
        <!-- End Funfacts -->

        <!-- Start Footer -->
        <footer class="pt-5 footer_detail">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <h6 class="mt-3 text-white font-weight-normal">Contactanos</h6>
                        <div class="footer_title_border"></div>
                        <div class="mt-4">
                            <p>Nuestros Datos</p>
                            <p><i class="pe-7s-id"></i> RNC: 4-30-38208-6</p>
                            <p><i class="pe-7s-call mr-2"></i> 809-748-5652</p>
                            <p><i class="pe-7s-mail-open mr-2"></i> unidospodemos@gmail.com</p>
                            <p><i class="pe-7s-map-marker mr-2"></i> Calle Duarte #2 KM 18 Villa Mella Republica Dominicana..</p>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <h6 class="mt-3 text-white font-weight-normal">Paginas</h6>
                        <div class="footer_title_border"></div>
                        <ul class="list-unstyled footer_menu_list mb-0 mt-4">
                            <li><a href="#">Inicio</a></li>
                            <li><a href="#">Acerca de nosotros</a></li>
                            <li><a href="#">Servicios</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Administracion</a></li>
                        </ul>
                    </div>
                   <!-- <div class="col-lg-2">
                        <h6 class="mt-3 text-white font-weight-normal">Help Center</h6>
                        <div class="footer_title_border"></div>
                        <ul class="list-unstyled footer_menu_list mb-0 mt-4">
                            <li><a href="#">Accounting</a></li>
                            <li><a href="#">Billing</a></li>
                            <li><a href="#">General Question</a></li>
                        </ul>
                    </div>-->
                    <div class="col-lg-2">
                        <h6 class="mt-3 text-white font-weight-normal">Siguenos</h6>
                        <div class="footer_title_border"></div>
                        <ul class="list-unstyled footer_menu_list mb-0 mt-4">
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Instagram</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Linkdin</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2">
                        <h6 class="mt-3 text-white font-weight-normal">Ubicación</h6>
                        <div class="footer_title_border"></div>
                        <ul class="list-unstyled footer_menu_list mb-0 mt-4">
                            <li><a href="#">Villa Mella Republica Dominicana</a></li>
                           <!-- <li><a href="#">London</a></li>
                            <li><a href="#">New York</a></li>
                            <li><a href="#">San Francisco</a></li>
                            <li><a href="#">Ontario</a></li>-->
                        </ul>
                    </div>
                </div>
                <div class="footer_divider mb-0"></div>
                <div class="row pt-3 pb-3">
                    <div class="col-lg-12">
                        <div class="clearfix">
                            <div class="float-left float_none">
                                <p class="copy-rights mb-0">&copy; 2024 Cooperativa Unidos Podemos<i class="text-custom"></i></p>
                            </div>
                            <div class="float-right float_none">
                                <ul class="list-inline fot_social mb-0">
                                    <li class="list-inline-item"><a href="" class="social-icon text-muted"><i class="mdi mdi-facebook"></i></a></li>
                                    <li class="list-inline-item"><a href="" class="social-icon text-muted"><i class="mdi mdi-twitter"></i></a></li>
                                    <li class="list-inline-item"><a href="" class="social-icon text-muted"><i class="mdi mdi-linkedin"></i></a></li>
                                    <li class="list-inline-item"><a href="" class="social-icon text-muted"><i class="mdi mdi-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </footer>
        <!-- End Footer -->

        <!-- Back To Top -->    
        <a href="#" class="back_top"> <i class="pe-7s-angle-up"> </i> </a>

        <!-- Javascript -->
        <script src="js/jquery.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.easing.min.js"></script>
        <script src="js/scrollspy.min.js"></script>

        <!-- Owl Js -->
        <script src="js/owl.carousel.min.js"></script>

        <!--Filter JS-->
        <script src="js/isotope.js"></script>

        <!-- MFP JS -->
        <script src="js/jquery.magnific-popup.min.js"></script>

        <!-- Custom Js   -->
        <script src="js/custom.js"></script>  

    </body>
</html>