{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Responsive Multipurpose HTML5 Template" />
        <meta name="keywords" content="agency, bootstrap, business, corporate, creative, landing page, marketing, multipurpose, product, product launch, responsive, software, startup, startup landing page" />
        <meta name="author" content="ThemesBoss" />

        <!-- Site Title -->
        <link rel="shortcut icon" href="{% static 'images/favicon.ico'%}">

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}" type="text/css">
 
        <!-- MFP Css -->
        <link rel="stylesheet" href="{%static 'css/magnific-popup.css'%}">
 
        <!-- Material Icon -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/materialdesignicons.min.css'%}" />
 
        <!-- Pe7 Icon -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/pe-icon-7.css'%}">
 
        <!-- Owl Slider -->
        <link rel="stylesheet" href="{% static 'css/owl.carousel.css'%}" />
        <link rel="stylesheet" href="{%static 'css/owl.theme.css'%}" />
        <link rel="stylesheet" href="{%static 'css/owl.transitions.css'%}" />
 
        <!-- Custom  Css -->
        <link rel="stylesheet" type="text/css" href="{%static 'css/style.css'%}" />

    </head>    
    <body>

        <!--Navbar Start-->
        <nav class="navbar navbar-expand-lg fixed-top custom-nav sticky">
            <div class="container">
                <!-- LOGO -->
                <a class="logo navbar-brand" href="index.html">
                  <!--  <img src="images/logo.png" alt="" class="img-fluid logo-light"> 
                    <img src="images/logo-dark.png" alt="" class="img-fluid logo-dark">-->
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="mdi mdi-menu"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav ml-auto navbar-center" id="mySidenav">
                        <li class="nav-item">
                            <a href="{%url 'home'%}" class="nav-link">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a href="{%url 'aboutUs'%}" class="nav-link">Acerca de nosotros</a>
                        </li>
                        <li class="nav-item active">
                            <a href="{%url 'services'%}" class="nav-link">Servicios</a>
                        </li>
                        <li class="nav-item">
                            <a href="{%url 'contact'%}" class="nav-link">Contacto</a>
                        </li>
                        <li class="nav-item">
                            <a href="https://devetechnologies-coop-7a5232f4718c.herokuapp.com/admin/login/?next=/admin/" target="_blank" class="nav-link">Administracion</a>
                        </li>
                    </ul>
                    <div>
                        <ul class="text-right list-unstyled list-inline mb-0 social_menu">
                            <li class="list-inline-item"><a href=""><i class="mdi mdi-twitter"></i></a></li>
                            <li class="list-inline-item"><a href=""><i class="mdi mdi-instagram"></i></a></li>
                            <li class="list-inline-item"><a href=""><i class="mdi mdi-facebook"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Navbar End -->

        <!--Start Header-->
        <section class="header_section">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-white text-center">
                            <h2 class="font-weight-bold fonts-italic font-italic">Nuestros Servicos</h2>
                            <div class="home_divider mt-3 mb-3 mx-auto"></div>
                            <div class="page_link text-uppercase"> 
                                <a href="{%url 'home'%}" class="d-inline-block mr-1">Inicio</a> / <span class="text-white ml-1">Servicios</span> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Header-->

        <!-- Start Process 
        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center section_title">
                            <p class="text-custom mb-1 small_title font-italic fonts-italic font-weight-bold text-uppercase">Help & Advice</p>
                            <h3 class="font-weight-bold">Our Work Process</h3>
                            <div class="">
                                <img src="images/divider.png" alt="" class="img-fluid mx-auto d-block">
                            </div>
                            <p class="text-muted sec_subtitle mx-auto mt-2">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        </div>
                    </div>
                </div>
                <div class="work_process mt-5">
                    <div class="work_box">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="work_detail_left rounded work_detail">
                                    <div class="work_icon">
                                        <i class="mdi mdi-calendar-text"></i>
                                    </div>
                                    <h4 class="mt-3">Tell Us Your Idea</h4>
                                    <p class="work_desc mb-0 mt-3 text-muted">Sollicitudin condimentum augue vitae rutrum odio pulvinar est conubia vehicula. a in urna commodo. Fermentum luctus parturient lacinia tempus porttitor.</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="work_right work_images">
                                    <img src="images/timeline/1.png" alt="" class="img-fluid mx-auto d-block">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="work_box">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="work_left work_images">
                                    <img src="images/timeline/2.png" alt="" class="img-fluid mx-auto d-block">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="work_detail_right rounded work_detail">
                                    <div class="work_icon">
                                        <i class="mdi mdi-apple-keyboard-command"></i>
                                    </div>
                                    <h4 class="mt-3">Debut With Users</h4>
                                    <p class="work_desc mt-3 mb-0 text-muted">Ut pellentesque nisi cubilia nullam velit aenean Tristique fusce suscipit metus gravida velit tempor pellentesque eleifend primis suscipit cubilia magnis montes Mus non dolor.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="work_box">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="work_detail_left work_detail">
                                    <div class="work_icon">
                                        <i class="mdi mdi-feature-search-outline"></i>
                                    </div>
                                    <h4 class="mt-3">Research And Develop</h4>
                                    <p class="work_desc mt-3 mb-0 text-muted">Habitasse dictum natoque. Natoque facilisis condimentum praesent magnis netus praesent magnis netus consectetuer velit suscipit phasellus nisi magnis.</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="work_right work_images">
                                    <img src="images/timeline/3.png" alt="" class="img-fluid mx-auto d-block">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="work_box">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="work_left work_images">
                                    <img src="images/timeline/4.png" alt="" class="img-fluid mx-auto d-block">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="work_detail_right rounded work_detail">
                                    <div class="work_icon">
                                        <i class="mdi mdi-launch"></i>
                                    </div>
                                    <h4 class="mt-3">Launch Project</h4>
                                    <p class="work_desc mt-3 mb-0 text-muted">Pede metus convallis primis curae; elementum dui ac tincidunt integer morbi venenatis sollicitudin, non felis euismod, convallis nulla taciti purus.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>-->
        <!-- End Process -->

        <!-- Start Services 
        <section>
            <div class="container-fluid">
                <div class="row position-relative">
                    <div class="col-lg-6 services_img_bg">
                        &nbsp;
                    </div>-->
                    <!-- end col 
                    <div class="col-lg-7 offset-lg-5 services_clip bg-gradient text-white">
                        <div class="services_bg_pad">
                            <div class="row justify-content-center">
                                <div class="col-lg-5">
                                    <div class="text-center services_boxes mt-3 rounded p-4">
                                        <div class="services_icon">
                                            <i class="pe-7s-tools"></i>
                                        </div>
                                        <div class="services_content mt-3">
                                            <h5 class="mb-0">Graphic Design</h5>
                                            <p class="mb-0 mt-2">The standard chunk of Lorem Ipsum used since the is reproduced below for those interested.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="text-center services_boxes mt-3 rounded p-4">
                                        <div class="services_icon">
                                            <i class="pe-7s-science"></i>
                                        </div>
                                        <div class="services_content mt-3">
                                            <h5 class="mb-0">Unlimited Color</h5>
                                            <p class="mb-0 mt-2">The standard chunk of Lorem Ipsum used since the is reproduced below for those interested.</p>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            <div class="row justify-content-center">
                                <div class="col-lg-5">
                                    <div class="text-center services_boxes mt-3 rounded p-4">
                                        <div class="services_icon">
                                            <i class="pe-7s-display1"></i>
                                        </div>
                                        <div class="services_content mt-3">
                                            <h5 class="mb-0">Media Marketing</h5>
                                            <p class="mb-0 mt-2">The standard chunk of Lorem Ipsum used since the is reproduced below for those interested.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="text-center services_boxes mt-3 rounded p-4">
                                        <div class="services_icon">
                                            <i class="pe-7s-helm"></i>
                                        </div>
                                        <div class="services_content mt-3">
                                            <h5 class="mb-0">Unlimited Wifi</h5>
                                            <p class="mb-0 mt-2">The standard chunk of Lorem Ipsum used since the is reproduced below for those interested.</p>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div> 
                </div>
            </div>
        </section>-->
        <!-- End Services -->

        <!-- Start Work 
        <section class="section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center section_title">
                            <p class="text-custom mb-1 small_title font-italic fonts-italic font-weight-bold text-uppercase">Best Work</p>
                            <h3 class="font-weight-bold">My Recent Work</h3>
                            <div class="">
                                <img src="images/divider.png" alt="" class="img-fluid mx-auto d-block">
                            </div>
                            <p class="text-muted sec_subtitle mx-auto mt-2">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-lg-12">
                        <ul class="text-center list-unstyled list-inline mb-0 text-capitlize work_menu" id="menu-filter">
                            <li class="list-inline-item"><a class="active" data-filter="*">All</a></li>
                            <li class="list-inline-item"><a class="" data-filter=".seo">Seo</a></li>
                            <li class="list-inline-item"><a class="" data-filter=".webdesign">Webdesign</a></li>
                            <li class="list-inline-item"><a class="" data-filter=".work">Work</a></li>
                            <li class="list-inline-item"><a class="" data-filter=".wordpress">Wordpress</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row mt-5 work-filter">
                    <div class="col-lg-3 webdesign wordpress">
                        <div class="work_img_box">
                            <a class="img-zoom" href="images/work/work-1.jpg"></a>
                            <div class="work_images">
                                <img src="images/work/work-1.jpg" alt="image" class="img-fluid mx-auto d-block">
                                <div class="work_overlay">
                                    <h4 class="mb-0">UI Elements, Icons</h4>
                                    <h6 class="mb-0">Studio &amp; Art</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 seo webdesign">
                        <div class="work_img_box">
                            <a class="img-zoom" href="images/work/work-2.jpg"></a>
                            <div class="work_images">
                                <img src="images/work/work-2.jpg" alt="image" class="img-fluid mx-auto d-block">
                                <div class="work_overlay">
                                    <h4>Illustrations</h4>
                                    <h6>Creative &amp; Art</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 work">
                        <div class="work_img_box">
                            <a class="img-zoom" href="images/work/work-3.jpg"></a>
                            <div class="work_images">
                                <img src="images/work/work-3.jpg" alt="image" class="img-fluid mx-auto d-block">
                                <div class="work_overlay">
                                    <h4>Media, Icons</h4>
                                    <h6>Open Imagination</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 seo webdesign">
                        <div class="work_img_box">
                            <a class="img-zoom" href="images/work/work-4.jpg"></a>
                            <div class="work_images">
                                <img src="images/work/work-4.jpg" alt="image" class="img-fluid mx-auto d-block">
                                <div class="work_overlay">
                                    <h4>Graphics, UI Elements</h4>
                                    <h6>Locked Steel Gate</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 seo work">
                        <div class="work_img_box">
                            <a class="img-zoom" href="images/work/work-5.jpg"></a>
                            <div class="work_images">
                                <img src="images/work/work-5.jpg" alt="image" class="img-fluid mx-auto d-block">
                                <div class="work_overlay">
                                    <h4>Illustrations, Graphics</h4>
                                    <h6>Mac Sunglasses</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 wordpress">
                        <div class="work_img_box">
                            <a class="img-zoom" href="images/work/work-6.jpg"></a>
                            <div class="work_images">
                                <img src="images/work/work-6.jpg" alt="image" class="img-fluid mx-auto d-block">
                                <div class="work_overlay">
                                    <h4>UI Elements, Media</h4>
                                    <h6>Backpack Contents</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 work">
                        <div class="work_img_box">
                            <a class="img-zoom" href="images/work/work-7.jpg"></a>
                            <div class="work_images">
                                <img src="images/work/work-7.jpg" alt="image" class="img-fluid mx-auto d-block">
                                <div class="work_overlay">
                                    <h4>Media, Icons</h4>
                                    <h6>Open Imagination</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 seo webdesign">
                        <div class="work_img_box">
                            <a class="img-zoom" href="images/work/work-8.jpg"></a>
                            <div class="work_images">
                                <img src="images/work/work-8.jpg" alt="image" class="img-fluid mx-auto d-block">
                                <div class="work_overlay">
                                    <h4>Graphics, UI Elements</h4>
                                    <h6>Locked Steel Gate</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="mt-5 text-center">
                            <a href="#" class="btn btn-custom">More Work</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>-->
        <!-- End Work -->

        <!-- Start Funfacts -->
         <br>
        <section class="section bg-gradient">
            <div class="container">
                <div class="row" id="counter">
                    <div class="col-lg-4">
                        <div class="text-center text-white lan_funfact p-4 mt-3 rounded text-white">
                            <div class="lan_fun_icon mb-3">
                                <i class="pe-7s-smile"></i>
                            </div>
                            <h6 class="font-weight-bold"><span class="lan_fun_value" data-count="100">201</span> +Clientes</h6>
                            <p class="lan_fun_name mb-0">Trabajamos siempre acorde a nuestros clientes.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="text-center text-white lan_funfact p-4 mt-3 rounded text-white">
                            <div class="lan_fun_icon mb-3">
                                <i class="pe-7s-study"></i>
                            </div>
                            <h6 class="font-weight-bold"><span class="lan_fun_value" data-count="100">108</span> Proyectos</h6>
                            <p class="lan_fun_name mb-0">Creamos proyectos familiarizados con nuestros clientes.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="text-center text-white lan_funfact p-4 mt-3 rounded text-white">
                            <div class="lan_fun_icon mb-3">
                                <i class="pe-7s-stopwatch"></i>
                            </div>
                            <h6 class="font-weight-bold"><span class="lan_fun_value" data-count="100">89</span> Horas de trabajo</h6>
                            <p class="lan_fun_name mb-0">Trabajamos 24/7 para brindar el mejor servicio a nuestros clientes.</p>
                        </div>
                    </div>
                </div>
            </section>
        <br>
        <footer class="pt-5 footer_detail">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <h6 class="mt-3 text-white font-weight-normal">Contactanos</h6>
                        <div class="footer_title_border"></div>
                        <div class="mt-4">
                            <p>Nuestros Datos</p>
                            <p><i class="pe-7s-id"></i> RNC: 4-30-38208-6</p>
                            <p><i class="pe-7s-call mr-2"></i> 809-748-5652</p>
                            <p><i class="pe-7s-mail-open mr-2"></i> unidospodemos@gmail.com</p>
                            <p><i class="pe-7s-map-marker mr-2"></i> Calle Duarte #2 KM 18 Villa Mella Republica Dominicana..</p>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <h6 class="mt-3 text-white font-weight-normal">Paginas</h6>
                        <div class="footer_title_border"></div>
                        <ul class="list-unstyled footer_menu_list mb-0 mt-4">
                            <li><a href="#">Inicio</a></li>
                            <li><a href="#">Acerca de nosotros</a></li>
                            <li><a href="#">Servicios</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Administracion</a></li>
                        </ul>
                    </div>
                   <!-- <div class="col-lg-2">
                        <h6 class="mt-3 text-white font-weight-normal">Help Center</h6>
                        <div class="footer_title_border"></div>
                        <ul class="list-unstyled footer_menu_list mb-0 mt-4">
                            <li><a href="#">Accounting</a></li>
                            <li><a href="#">Billing</a></li>
                            <li><a href="#">General Question</a></li>
                        </ul>
                    </div>-->
                    <div class="col-lg-2">
                        <h6 class="mt-3 text-white font-weight-normal">Siguenos</h6>
                        <div class="footer_title_border"></div>
                        <ul class="list-unstyled footer_menu_list mb-0 mt-4">
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Instagram</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Linkdin</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2">
                        <h6 class="mt-3 text-white font-weight-normal">Ubicación</h6>
                        <div class="footer_title_border"></div>
                        <ul class="list-unstyled footer_menu_list mb-0 mt-4">
                            <li><a href="#">Villa Mella Republica Dominicana</a></li>
                           <!-- <li><a href="#">London</a></li>
                            <li><a href="#">New York</a></li>
                            <li><a href="#">San Francisco</a></li>
                            <li><a href="#">Ontario</a></li>-->
                        </ul>
                    </div>
                </div>
                <div class="footer_divider mb-0"></div>
                <div class="row pt-3 pb-3">
                    <div class="col-lg-12">
                        <div class="clearfix">
                            <div class="float-left float_none">
                                <p class="copy-rights mb-0">&copy; 2024 Cooperativa Unidos Podemos<i class="text-custom"></i></p>
                            </div>
                            <div class="float-right float_none">
                                <ul class="list-inline fot_social mb-0">
                                    <li class="list-inline-item"><a href="" class="social-icon text-muted"><i class="mdi mdi-facebook"></i></a></li>
                                    <li class="list-inline-item"><a href="" class="social-icon text-muted"><i class="mdi mdi-twitter"></i></a></li>
                                    <li class="list-inline-item"><a href="" class="social-icon text-muted"><i class="mdi mdi-linkedin"></i></a></li>
                                    <li class="list-inline-item"><a href="" class="social-icon text-muted"><i class="mdi mdi-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </footer>
        <!-- End Footer -->

        <!-- Back To Top -->    
        <a href="#" class="back_top"> <i class="pe-7s-angle-up"> </i> </a>

        <!-- Javascript -->
        <script src="js/jquery.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.easing.min.js"></script>
        <script src="js/scrollspy.min.js"></script>

        <!-- Owl Js -->
        <script src="js/owl.carousel.min.js"></script>

        <!--Funfact JS-->
        <script src="js/funfacts.js"></script>

        <!--Filter JS-->
        <script src="js/isotope.js"></script>

        <!-- MFP JS -->
        <script src="js/jquery.magnific-popup.min.js"></script>

        <!-- Custom Js   -->
        <script src="js/custom.js"></script>  

    </body>
</html>