<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Responsive Multipurpose HTML5 Template" />
        <meta name="keywords" content="agency, bootstrap, business, corporate, creative, landing page, marketing, multipurpose, product, product launch, responsive, software, startup, startup landing page" />
        <meta name="author" content="ThemesBoss" />

        <!-- Site Title -->
        <title>Craton - Responsive Multipurpose HTML5 Template</title>

        <!-- Site favicon -->
        <link rel="shortcut icon" href="images/favicon.ico">

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

        <!-- MFP Css -->
        <link rel="stylesheet" href="css/magnific-popup.css">

        <!-- Material Icon -->
        <link rel="stylesheet" type="text/css" href="css/materialdesignicons.min.css" />

        <!-- Pe7 Icon -->
        <link rel="stylesheet" type="text/css" href="css/pe-icon-7.css">

        <!-- Owl Slider -->
        <link rel="stylesheet" href="css/owl.carousel.css" />
        <link rel="stylesheet" href="css/owl.theme.css" />
        <link rel="stylesheet" href="css/owl.transitions.css" />

        <!-- Custom  Css -->
        <link rel="stylesheet" type="text/css" href="css/style.css" />

    </head>    
    <body>

        <!--Navbar Start-->
        <nav class="navbar navbar-expand-lg fixed-top custom-nav sticky">
            <div class="container">
                <!-- LOGO -->
                <a class="logo navbar-brand" href="index.html">
                    <img src="images/logo.png" alt="" class="img-fluid logo-light"> 
                    <img src="images/logo-dark.png" alt="" class="img-fluid logo-dark">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="mdi mdi-menu"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav ml-auto navbar-center" id="mySidenav">
                        <li class="nav-item">
                            <a href="index_1.html" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="about.html" class="nav-link">About Us</a>
                        </li>
                        <li class="nav-item active">
                            <a href="team.html" class="nav-link">Team</a>
                        </li>
                        <li class="nav-item">
                            <a href="services.html" class="nav-link">Services</a>
                        </li>
                        <li class="nav-item">
                            <a href="project.html" class="nav-link">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a href="blog.html" class="nav-link">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a href="contact.html" class="nav-link">Contact</a>
                        </li>
                    </ul>
                    <div>
                        <ul class="text-right list-unstyled list-inline mb-0 social_menu">
                            <li class="list-inline-item"><a href=""><i class="mdi mdi-twitter"></i></a></li>
                            <li class="list-inline-item"><a href=""><i class="mdi mdi-instagram"></i></a></li>
                            <li class="list-inline-item"><a href=""><i class="mdi mdi-facebook"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Navbar End -->

        <!--Start Header-->
        <section class="header_section">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-white text-center">
                            <h2 class="font-weight-bold fonts-italic font-italic">Our Team</h2>
                            <div class="home_divider mt-3 mb-3 mx-auto"></div>
                            <div class="page_link text-uppercase"> 
                                <a href="index.html" class="d-inline-block mr-1">Home</a> / <span class="text-white ml-1">Team</span> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Header-->

        <!-- Start Team -->
        <section class="section bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center section_title">
                            <p class="text-custom mb-1 small_title font-italic fonts-italic font-weight-bold text-uppercase">Our Expert</p>
                            <h3 class="font-weight-bold">Meet Our Team</h3>
                            <div class="">
                                <img src="images/divider.png" alt="" class="img-fluid mx-auto d-block">
                            </div>
                            <p class="text-muted sec_subtitle mx-auto mt-2">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-lg-3">
                        <div class="team_box mt-3">
                            <div class="team-img">
                                <img src="images/team/team-1.jpg" alt="" class="img-fluid mx-auto rounded d-block">
                            </div>
                            <div class="team_desc text-center mt-4">
                                <h6>Scott Ross</h6>
                                <p class="text-muted">CEO/Founder</p>
                            </div>
                            <div class="mt-3 text-center">
                                <ul class="list-inline team_social mb-0">
                                    <li class="list-inline-item"><a href="#"><i class="mdi mdi-facebook"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="mdi mdi-google"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="mdi mdi-twitter"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="team_box mt-3">
                            <div class="team-img">
                                <img src="images/team/team-2.jpg" alt="" class="img-fluid mx-auto rounded d-block">
                            </div>
                            <div class="team_desc text-center mt-4">
                                <h6>Edith Wheeler</h6>
                                <p class="text-muted">CTO/Co-Founder</p>
                            </div>
                            <div class="mt-3 text-center">
                                <ul class="list-inline team_social mb-0">
                                    <li class="list-inline-item"><a href="#"><i class="mdi mdi-facebook"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="mdi mdi-google"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="mdi mdi-twitter"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="team_box mt-3">
                            <div class="team-img">
                                <img src="images/team/team-3.jpg" alt="" class="img-fluid mx-auto rounded d-block">
                            </div>
                            <div class="team_desc text-center mt-4">
                                <h6>Pauline Roach</h6>
                                <p class="text-muted">Web Designer</p>
                            </div>
                            <div class="mt-3 text-center">
                                <ul class="list-inline team_social mb-0">
                                    <li class="list-inline-item"><a href="#"><i class="mdi mdi-facebook"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="mdi mdi-google"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="mdi mdi-twitter"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="team_box mt-3">
                            <div class="team-img">
                                <img src="images/team/team-4.jpg" alt="" class="img-fluid mx-auto rounded d-block">
                            </div>
                            <div class="team_desc text-center mt-4">
                                <h6>Donald Laughlin</h6>
                                <p class="text-muted">Web Developer</p>
                            </div>
                            <div class="mt-3 text-center">
                                <ul class="list-inline team_social mb-0">
                                    <li class="list-inline-item"><a href="#"><i class="mdi mdi-facebook"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="mdi mdi-google"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="mdi mdi-twitter"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-3">
                        <div class="team_box mt-3">
                            <div class="team-img">
                                <img src="images/team/team-1.jpg" alt="" class="img-fluid mx-auto rounded d-block">
                            </div>
                            <div class="team_desc text-center mt-4">
                                <h6>Scott Ross</h6>
                                <p class="text-muted">CEO/Founder</p>
                            </div>
                            <div class="mt-3 text-center">
                                <ul class="list-inline team_social mb-0">
                                    <li class="list-inline-item"><a href="#"><i class="mdi mdi-facebook"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="mdi mdi-google"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="mdi mdi-twitter"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="team_box mt-3">
                            <div class="team-img">
                                <img src="images/team/team-2.jpg" alt="" class="img-fluid mx-auto rounded d-block">
                            </div>
                            <div class="team_desc text-center mt-4">
                                <h6>Edith Wheeler</h6>
                                <p class="text-muted">CTO/Co-Founder</p>
                            </div>
                            <div class="mt-3 text-center">
                                <ul class="list-inline team_social mb-0">
                                    <li class="list-inline-item"><a href="#"><i class="mdi mdi-facebook"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="mdi mdi-google"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="mdi mdi-twitter"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="team_box mt-3">
                            <div class="team-img">
                                <img src="images/team/team-3.jpg" alt="" class="img-fluid mx-auto rounded d-block">
                            </div>
                            <div class="team_desc text-center mt-4">
                                <h6>Pauline Roach</h6>
                                <p class="text-muted">Web Designer</p>
                            </div>
                            <div class="mt-3 text-center">
                                <ul class="list-inline team_social mb-0">
                                    <li class="list-inline-item"><a href="#"><i class="mdi mdi-facebook"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="mdi mdi-google"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="mdi mdi-twitter"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="team_box mt-3">
                            <div class="team-img">
                                <img src="images/team/team-4.jpg" alt="" class="img-fluid mx-auto rounded d-block">
                            </div>
                            <div class="team_desc text-center mt-4">
                                <h6>Donald Laughlin</h6>
                                <p class="text-muted">Web Developer</p>
                            </div>
                            <div class="mt-3 text-center">
                                <ul class="list-inline team_social mb-0">
                                    <li class="list-inline-item"><a href="#"><i class="mdi mdi-facebook"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="mdi mdi-google"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="mdi mdi-twitter"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Team -->

        <!-- Start Funfacts -->
        <section class="section bg-gradient">
            <div class="container">
                <div class="row" id="counter">
                    <div class="col-lg-4">
                        <div class="text-center text-white lan_funfact p-4 mt-3 rounded text-white">
                            <div class="lan_fun_icon mb-3">
                                <i class="pe-7s-smile"></i>
                            </div>
                            <h6 class="font-weight-bold"><span class="lan_fun_value" data-count="238926">201</span> + No. of Clients</h6>
                            <p class="lan_fun_name mb-0">Their separate existence is a myth. For science, music, sport, etc, their pronunciation.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="text-center text-white lan_funfact p-4 mt-3 rounded text-white">
                            <div class="lan_fun_icon mb-3">
                                <i class="pe-7s-study"></i>
                            </div>
                            <h6 class="font-weight-bold"><span class="lan_fun_value" data-count="2395">108</span> + Completed Projects</h6>
                            <p class="lan_fun_name mb-0">Their separate existence is a myth. For science, music, sport, etc, their pronunciation.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="text-center text-white lan_funfact p-4 mt-3 rounded text-white">
                            <div class="lan_fun_icon mb-3">
                                <i class="pe-7s-stopwatch"></i>
                            </div>
                            <h6 class="font-weight-bold"><span class="lan_fun_value" data-count="56897">89</span> + Working Hours</h6>
                            <p class="lan_fun_name mb-0">Their separate existence is a myth. For science, music, sport, etc, their pronunciation.</p>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-3 mt-3">
                        <div class="logo_img">
                            <img src="images/clients/1.png" alt="logo-img" class="mx-auto img-fluid d-block">
                        </div>
                    </div>
                    <div class="col-lg-3 mt-3">
                        <div class="logo_img">
                            <img src="images/clients/2.png" alt="logo-img" class="mx-auto img-fluid d-block">
                        </div>
                    </div>
                    <div class="col-lg-3 mt-3">
                        <div class="logo_img">
                            <img src="images/clients/3.png" alt="logo-img" class="mx-auto img-fluid d-block">
                        </div>
                    </div>
                    <div class="col-lg-3 mt-3">
                        <div class="logo_img">
                            <img src="images/clients/4.png" alt="logo-img" class="mx-auto img-fluid d-block">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Funfacts -->

        <!-- Start Price -->
        <section class="section bg-light" id="price">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center section_title">
                            <p class="text-custom mb-1 small_title font-italic fonts-italic font-weight-bold text-uppercase">Pricing</p>
                            <h3 class="font-weight-bold">Best Pricing Plan</h3>
                            <div class="">
                                <img src="images/divider.png" alt="" class="img-fluid mx-auto d-block">
                            </div>
                            <p class="text-muted sec_subtitle mx-auto mt-2">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-lg-4">
                        <div class="price_box text-center mt-3 p-5">
                            <div class="price_name">
                                <h5 class="mb-0 font-weight-normal">Starter</h5>
                            </div>
                            <div class="plan_price pb-3 mt-4 pt-2">
                                <h1 class="text-custom mb-0 font-weight-normal">$19</h1>
                                <p class="text-muted mb-0">Per Month</p>
                            </div>
                            <div class="price_features text-left mt-5 text-muted">
                                <p><span class="features_bold"></span>Project: <span class="font-weight-bold text-dark">10</span></p>
                                <p><span class="features_bold"></span>Wordpress Theme</p>
                                <p><span class="features_bold"></span>Support: <span class="font-weight-bold text-dark">No</span></p>
                                <p><span class="features_bold"></span>10 Domain</p>
                            </div>
                            <div class="mt-5">
                                <a href="#" class="btn btn-custom w-100">Choose Plan</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="price_box text-center active mt-3 p-5">
                            <div class="lable">
                                <h6 class="best mb-0 text-uppercase">Best &nbsp;Plan</h6>
                            </div>
                            <div class="price_name">
                                <h5 class="mb-0 font-weight-normal">Professional</h5>
                            </div>
                            <div class="plan_price pb-3 mt-4 pt-2">
                                <h1 class="text-custom mb-0 font-weight-normal">$29</h1>
                                <p class="text-muted mb-0">Per Month</p>
                            </div>
                            <div class="price_features text-left mt-5 text-muted">
                                <p><span class="features_bold"></span>Project: <span class="font-weight-bold text-dark">30</span></p>
                                <p><span class="features_bold"></span>Wordpress Theme</p>
                                <p><span class="features_bold"></span>Support: <span class="font-weight-bold text-dark">Yes</span></p>
                                <p><span class="features_bold"></span>30 Domain</p>
                            </div>
                            <div class="mt-5">
                                <a href="#" class="btn btn-custom w-100">Choose Plan</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="price_box text-center mt-3 p-5">
                            <div class="price_name">
                                <h5 class="mb-0 font-weight-normal">Business</h5>
                            </div>
                            <div class="plan_price pb-3 mt-4 pt-2">
                                <h1 class="text-custom mb-0 font-weight-normal">$39</h1>
                                <p class="text-muted mb-0">Per Month</p>
                            </div>
                            <div class="price_features text-left mt-5 text-muted">
                                <p><span class="features_bold"></span>Project: <span class="font-weight-bold text-dark">60</span></p>
                                <p><span class="features_bold"></span>Wordpress Theme</p>
                                <p><span class="features_bold"></span>Support: <span class="font-weight-bold text-dark">Yes</span></p>
                                <p><span class="features_bold"></span>Unlimited  Domain</p>
                            </div>
                            <div class="mt-5">
                                <a href="#" class="btn btn-custom w-100">Choose Plan</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Price -->

        <!-- Start Blog -->
        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center section_title">
                            <p class="text-custom mb-1 small_title font-italic fonts-italic font-weight-bold text-uppercase">Blog</p>
                            <h3 class="font-weight-bold">Our Latest News</h3>
                            <div class="">
                                <img src="images/divider.png" alt="" class="img-fluid mx-auto d-block">
                            </div>
                            <p class="text-muted sec_subtitle mx-auto mt-2">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-lg-4">
                        <div class="blog_box mt-3">
                            <div class="blog_img">
                                <img src="images/blog/blog-1.jpg" alt="" class="img-fluid mx-auto d-block rounded">
                                <h6 class="mb-0 text-center"><span class="blog_detail_badge text-uppercase">Business</span></h6>
                            </div>
                            <div class="blog_detail rounded m-2 p-4 text-center  bg-white">
                                <h5 class="font-weight-bold"><a href="#" class="text-dark">11 Tips to help you get new clients through</a></h5>
                                <p class="mt-3 text-muted">Maecenas class semper class semper sollicitudin lectus lorem.</p>
                                <a href="#" class="blog_more mb-3">Read More</a>
                                <div class="blog_detail_devider"></div>
                                <div class="clearfix mt-3">
                                    <p class="text-muted float-left mb-0">By <a href="#" class="text-custom font-weight-bold">John Doe</a></p>
                                    <span class="text-muted float-right">8 November</span>
                                </div>
                            </div>
                        </div>                        
                    </div>
                    <div class="col-lg-4">
                        <div class="blog_box mt-3">
                            <div class="blog_img">
                                <img src="images/blog/blog-2.jpg" alt="" class="img-fluid mx-auto d-block rounded">
                                <h6 class="mb-0 text-center"><span class="blog_detail_badge text-uppercase">Business</span></h6>
                            </div>
                            <div class="blog_detail rounded m-2 p-4 text-center  bg-white">
                                <h5 class="font-weight-bold"><a href="#" class="text-dark">11 Tips to help you get new clients through</a></h5>
                                <p class="mt-3 text-muted">Maecenas class semper class semper sollicitudin lectus lorem.</p>
                                <a href="#" class="blog_more mb-3">Read More</a>
                                <div class="blog_detail_devider"></div>
                                <div class="clearfix mt-3">
                                    <p class="text-muted float-left mb-0">By <a href="#" class="text-custom font-weight-bold">Kenn Thomas</a></p>
                                    <span class="text-muted float-right">8 November</span>
                                </div>
                            </div>
                        </div> 
                    </div>
                    <div class="col-lg-4">
                        <div class="blog_box mt-3">
                            <div class="blog_img">
                                <img src="images/blog/blog-3.jpg" alt="" class="img-fluid mx-auto d-block rounded">
                                <h6 class="mb-0 text-center"><span class="blog_detail_badge text-uppercase">Business</span></h6>
                            </div>
                            <div class="blog_detail rounded m-2 p-4 text-center  bg-white">
                                <h5 class="font-weight-bold"><a href="#" class="text-dark">11 Tips to help you get new clients through</a></h5>
                                <p class="mt-3 text-muted">Maecenas class semper class semper sollicitudin lectus lorem.</p>
                                <a href="#" class="blog_more mb-3">Read More</a>
                                <div class="blog_detail_devider"></div>
                                <div class="clearfix mt-3">
                                    <p class="text-muted float-left mb-0">By <a href="#" class="text-custom font-weight-bold">Dean Swaney</a></p>
                                    <span class="text-muted float-right">8 November</span>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </section>
        <!-- End Blog -->

        <!-- Start Footer -->
        <footer class="pt-5 footer_detail">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <h6 class="mt-3 text-white font-weight-normal">Craton</h6>
                        <div class="footer_title_border"></div>
                        <div class="mt-4">
                            <p>Their separate existence is a myth. For science, music, sport, etc, their pronunciation.</p>
                            <p><i class="pe-7s-call mr-2"></i> +985 123 7856</p>
                            <p><i class="pe-7s-mail-open mr-2"></i> exmaple@gmail.com</p>
                            <p><i class="pe-7s-map-marker mr-2"></i> 202, Grasselli Street , Conway.</p>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <h6 class="mt-3 text-white font-weight-normal">Our Pages</h6>
                        <div class="footer_title_border"></div>
                        <ul class="list-unstyled footer_menu_list mb-0 mt-4">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Client</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2">
                        <h6 class="mt-3 text-white font-weight-normal">Help Center</h6>
                        <div class="footer_title_border"></div>
                        <ul class="list-unstyled footer_menu_list mb-0 mt-4">
                            <li><a href="#">Accounting</a></li>
                            <li><a href="#">Billing</a></li>
                            <li><a href="#">General Question</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2">
                        <h6 class="mt-3 text-white font-weight-normal">Follow Us</h6>
                        <div class="footer_title_border"></div>
                        <ul class="list-unstyled footer_menu_list mb-0 mt-4">
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Instagram</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Linkdin</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2">
                        <h6 class="mt-3 text-white font-weight-normal">Locations</h6>
                        <div class="footer_title_border"></div>
                        <ul class="list-unstyled footer_menu_list mb-0 mt-4">
                            <li><a href="#">Melbourne</a></li>
                            <li><a href="#">London</a></li>
                            <li><a href="#">New York</a></li>
                            <li><a href="#">San Francisco</a></li>
                            <li><a href="#">Ontario</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer_divider mb-0"></div>
                <div class="row pt-3 pb-3">
                    <div class="col-lg-12">
                        <div class="clearfix">
                            <div class="float-left float_none">
                                <p class="copy-rights mb-0">&copy; 2018 Craton - Crafted with <i class="mdi mdi-heart text-custom"></i> by ThemesBoss.</p>
                            </div>
                            <div class="float-right float_none">
                                <ul class="list-inline fot_social mb-0">
                                    <li class="list-inline-item"><a href="" class="social-icon text-muted"><i class="mdi mdi-facebook"></i></a></li>
                                    <li class="list-inline-item"><a href="" class="social-icon text-muted"><i class="mdi mdi-twitter"></i></a></li>
                                    <li class="list-inline-item"><a href="" class="social-icon text-muted"><i class="mdi mdi-linkedin"></i></a></li>
                                    <li class="list-inline-item"><a href="" class="social-icon text-muted"><i class="mdi mdi-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </footer>
        <!-- End Footer -->

        <!-- Back To Top -->    
        <a href="#" class="back_top"> <i class="pe-7s-angle-up"> </i> </a>

        <!-- Javascript -->
        <script src="js/jquery.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.easing.min.js"></script>
        <script src="js/scrollspy.min.js"></script>

        <!-- Owl Js -->
        <script src="js/owl.carousel.min.js"></script>

        <!--Funfact JS-->
        <script src="js/funfacts.js"></script>

        <!--Filter JS-->
        <script src="js/isotope.js"></script>

        <!-- MFP JS -->
        <script src="js/jquery.magnific-popup.min.js"></script>

        <!-- Custom Js   -->
        <script src="js/custom.js"></script>  

    </body>
</html>